<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="AvroOutputPlugin"
   iconfile="avro.png"
   description="Avro Output"
   tooltip="This step outputs to a Avro File"
   category="Transform"
   classname="org.openbi.kettle.plugins.avrooutput.AvroOutputMeta">
   <libraries>
    <library name="AvroOutputPlugin.jar"/>
	<library name="avro-1.6.2.jar"/>
   </libraries>
    
   <localized_category>
     <category locale="en_US">Big Data</category>
   </localized_category>
   <localized_description>
     <description locale="en_US">Avro Output</description>
   </localized_description>
   <localized_tooltip>
     <tooltip locale="en_US">This step outputs to a Avro File</tooltip>
   </localized_tooltip>
   
</plugin>
